body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

    .slider {
        max-width: 1000px;
        margin: 0px auto 30px auto;}
      
      .slide-viewer {
          position: relative; 
          overflow: hidden;
          height: 430px;}
        
          .text
          {
              margin:auto;
              width: 400px;
              position: absolute;
              top:5%;
              font-family: 'Poppins', sans-serif;
              color: #4bba31 ;
              font-size: 34px;
              text-align: center;
              text-shadow: 1px 1px black;
              height:50px;
              vertical-align:middle;
              line-height: 40px;
              z-index: 10;
          }
    
      
      .slide-group {
          width: 100%;
          height: 100%;
          position: relative;}
        
          
      
      .slide {
          width: 100%;
          height: 100%;
          display: none;
          position: absolute;
          box-flex: center;
        }
      
      .slide:first-child {
          display: block;}

    
    


          