body {
  background-color: black;
}
/* 4icon */
.box4icon {
  display: grid;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.fouricon {
  text-align: center;
  color: #fafafa;
}
.fouricon img {
  width: 226px;
  height: auto;
}
.box_icone1, .box_icone2, .box_icone3, .box_icone4 {
  font-family:"text";
  font-size: 1.2em;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .box4icon {
    display: grid;
    justify-content: center;
  }
  .fouricon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 45px;
    text-align: center;
    align-items: center;
    align-content: center;
    color: #fafafa;
  }
  .fouricon img {
    width: 226px;
    height: auto;
  }
  .box_icone1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .box_icone2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .box_icone3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .box_icone4 {
    grid-area: 2 / 2 / 3 / 3;
  }
}
@media (min-width:1024px) {
  .box4icon {
    display: flex;
  }
  .fouricon {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}
/* Footer */
.footer {
  color:#fafafa;
}
.boxfooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.copyright {
  font-family: "text";
  font-size: 1.2em;
}
.linksocio {
  display: flex;
  justify-content: center;
}
.link_socio img{
  width: 50px;
  height: auto;
  color: #fafafa;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .footer {
    display: flex;
    justify-content: end;
  }
  .boxfooter {
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width:1024px) {
  .footer {
    display: flex;
    justify-content: end;
  }
  .boxfooter {
    width: 100%;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.4em;
  }
}
